html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html, body { height: 100%; }

body { font: 12px Helvetica, Arial, sans-serif; background: url(../images/bg-pattern.png) repeat 0 0 #f9f8f4; color: #8e8c86; }

.content { min-height: 100%; /*
.plane
{ width: 100em; height: 100em; -webkit-transform: rotateX(-90deg); margin: 0 auto; background: rgba(255,255,255,.2); border: 2px solid #000; background-size: 8px; display: none;
}
*/ }
.content .controls { position: absolute; top: 10px; right: 10px; z-index: 10; display: none; }
.content .controls input { display: block; margin-bottom: 10px; }
.content .viewport { width: 750px; height: 500px; margin: 0 auto; -webkit-perspective: 1200; -webkit-perspective-origin: 50% 10%; }
.content .viewport .perspective { -webkit-transform-style: preserve-3d; height: inherit; }
.touch .content .viewport .perspective { -moz-transition: all 1s; -webkit-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.content .description { width: 450px; position: relative; margin: 50px auto; padding: 20px; background: #fff; border: 1px solid; border-color: #d1d0cd; border-color: rgba(0, 0, 0, 0.15); -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0 1px 0 white; -webkit-box-shadow: 0 1px 0 white; -o-box-shadow: 0 1px 0 white; box-shadow: 0 1px 0 white; }
.content .description:before { content: ''; position: absolute; left: 50%; top: -12px; margin-left: -10px; display: block; width: 20px; height: 12px; background: url(../images/tip.png) no-repeat 0 0 transparent; }
.content .social-medias { padding-top: 10px; }
.content .social-medias li { display: inline-block; vertical-align: top; }
.content .social-medias li:first-child { padding-right: 15px; }

.domo { display: block; width: 18em; height: 26em; position: relative; top: 50%; margin: -13em auto 0; font-size: 8px; -webkit-transform-style: preserve-3d; -webkit-transform-origin: right bottom; /*-webkit-animation: walk 1s infinite linear;*/ }
.domo .body { width: 18em; height: 21em; }
.domo .body .front, .domo .body .back { position: absolute; top: 0; left: 0; width: inherit; height: inherit; }
.domo .body .front { background: url(../images/domo_pattern_front.jpg) repeat 0 0 #79391a; }
.domo .body .back { background: url(../images/domo_pattern_back.jpg) repeat 0 0 #79391a; -webkit-transform: translateZ(-8em); }
.domo .body .left { position: absolute; top: 0; left: 0; width: 8em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: left bottom; -webkit-transform: rotateY(90deg); }
.domo .body .right { position: absolute; top: 0; right: 0; width: 8em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: right bottom; -webkit-transform: rotateY(-90deg); }
.domo .body .top { position: absolute; top: 0; left: 0; width: inherit; height: 8em; background: url(../images/domo_pattern_top.jpg) repeat 0 0; -webkit-transform-origin: top left; -webkit-transform: rotateX(-90deg); }
.domo .body .bottom { position: absolute; top: 21em; left: 0; width: inherit; height: 8em; background: url(../images/domo_pattern_bottom.jpg) repeat 0 0; -webkit-transform-origin: left top; -webkit-transform: rotateX(-90deg); }
.domo .body { position: relative; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(5em); }
.domo .body .front { background: url(../images/domo.jpg) no-repeat 0 0, url(../images/domo_pattern_front.jpg) repeat 0 0 #79391a; background-size: 100%, auto; }
.domo .leg { width: 7em; height: 5em; }
.domo .leg .front, .domo .leg .back { position: absolute; top: 0; left: 0; width: inherit; height: inherit; }
.domo .leg .front { background: url(../images/domo_pattern_front.jpg) repeat 0 0 #79391a; }
.domo .leg .back { background: url(../images/domo_pattern_back.jpg) repeat 0 0 #79391a; -webkit-transform: translateZ(-8em); }
.domo .leg .left { position: absolute; top: 0; left: 0; width: 8em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: left bottom; -webkit-transform: rotateY(90deg); }
.domo .leg .right { position: absolute; top: 0; right: 0; width: 8em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: right bottom; -webkit-transform: rotateY(-90deg); }
.domo .leg .top { position: absolute; top: 0; left: 0; width: inherit; height: 8em; background: url(../images/domo_pattern_top.jpg) repeat 0 0; -webkit-transform-origin: top left; -webkit-transform: rotateX(-90deg); }
.domo .leg .bottom { position: absolute; top: 5em; left: 0; width: inherit; height: 8em; background: url(../images/domo_pattern_bottom.jpg) repeat 0 0; -webkit-transform-origin: left top; -webkit-transform: rotateX(-90deg); }
.domo .leg { position: absolute; top: 21em; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(5em); }
.domo .leg.left { left: 0; }
.domo .leg.right { right: 0; }
.domo .arm { width: 4.5em; height: 11.5em; }
.domo .arm .front, .domo .arm .back { position: absolute; top: 0; left: 0; width: inherit; height: inherit; }
.domo .arm .front { background: url(../images/domo_pattern_front.jpg) repeat 0 0 #79391a; }
.domo .arm .back { background: url(../images/domo_pattern_back.jpg) repeat 0 0 #79391a; -webkit-transform: translateZ(-4.5em); }
.domo .arm .left { position: absolute; top: 0; left: 0; width: 4.5em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: left bottom; -webkit-transform: rotateY(90deg); }
.domo .arm .right { position: absolute; top: 0; right: 0; width: 4.5em; height: inherit; background: url(../images/domo_pattern_rear.jpg) repeat 0 0 #79391a; -webkit-transform-origin: right bottom; -webkit-transform: rotateY(-90deg); }
.domo .arm .top { position: absolute; top: 0; left: 0; width: inherit; height: 4.5em; background: url(../images/domo_pattern_top.jpg) repeat 0 0; -webkit-transform-origin: top left; -webkit-transform: rotateX(-90deg); }
.domo .arm .bottom { position: absolute; top: 11.5em; left: 0; width: inherit; height: 4.5em; background: url(../images/domo_pattern_bottom.jpg) repeat 0 0; -webkit-transform-origin: left top; -webkit-transform: rotateX(-90deg); }
.domo .arm { position: absolute; top: 7em; -webkit-transform-style: preserve-3d; }
.domo .arm.left { right: -4.5em; -webkit-transform: rotateX(110deg); -webkit-transform-origin: left top; -webkit-animation: left-hand 1.3s infinite ease-in-out; }
.domo .arm.right { left: -4.5em; -webkit-transform: rotateX(60deg); -webkit-transform-origin: right top; -webkit-animation: right-hand 1.3s infinite ease-in-out; }

@-webkit-keyframes right-hand { 0%, 100% { -webkit-transform: rotateX(60deg); }
  50% { -webkit-transform: rotateX(110deg); } }

@-webkit-keyframes left-hand { 0%, 100% { -webkit-transform: rotateX(110deg); }
  50% { -webkit-transform: rotateX(60deg); } }

@-webkit-keyframes walk { 0% { -webkit-transform-origin: right bottom; -webkit-transform: rotateZ(0); }
  25% { -webkit-transform-origin: right bottom; -webkit-transform: rotateZ(5deg); }
  50% { -webkit-transform-origin: right bottom; -webkit-transform: rotateZ(0); }
  50.5% { -webkit-transform-origin: left bottom; }
  75% { -webkit-transform-origin: left bottom; -webkit-transform: rotateZ(-5deg); }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: rotateZ(0); } }

h1 { font-size: 32px; font-weight: bold; text-align: center; padding-bottom: 15px; }

p { color: #74726d; line-height: 18px; padding: 5px 0; }

strong { font-weight: bold; }

a { color: #008aff; font-weight: bold; display: inline-block; text-decoration: none; padding: 0px 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
a:hover { background: #008aff; color: #fff; }

@media screen and (max-width: 750px) { /* to avoid the adjustment of fonts on iOS devices you should keep this line */
  * { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
  .content .viewport { width: 640px; height: 350px; }
  .domo { font-size: 6px; } }
@media screen and (max-width: 640px) { .content .viewport { width: 470px; }
  .content .description { width: 400px; } }
@media screen and (max-width: 480px) { .content .viewport { width: 400px; }
  .content .description { width: 310px; } }
@media screen and (max-width: 320px) { .content .viewport, .content .description { width: 260px; } }
